.jumbotron{text-align: center; 
width: 800px;
border: grey;
border: 5px solid black;
margin: auto;
width: 50%;
padding: 10px;
margin-bottom: 40px
}



jumbotron h1 {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 60px;
    color:black;
   
}

